@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --primary-color: #00ffe9;
  --text-light-color: #f5f5dc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #010101;
}
